<h1>知識情報課題提出管理システム</h1>
<p>ユーザー登録をし履修登録を行うと未提出の課題が一覧で表示されます。<br>
    一覧にない課題については気づいた人が作成するようにお願いします。<br>
    誰かが登録するとその科目を履修しているユーザー全員に反映されます。
</p>
<%= link_to "ログイン", new_user_session_path %>&emsp;&emsp;
<%= link_to "ユーザー登録",new_user_registration_path %>
<%#
<p>以下の科目についてはが履修しているので課題の情報を出来る限り更新して行きますが、
    <br>それ以外の科目については履修者の人同士で適宜課題を追加していくようにお願いします。
     <br>       
    <ul>    
        <li>月4 webサービスデザイン</li> 
        <li>月5 知識情報システムの開発・運営</li>  
        <li>火1 オートマトンと形式言語</li>  
        <li>火2 知識モデリング</li>  
        <li>火3 知識情報演習（人工知能）</li> 
        <li>水1 マーケティングサイエンス</li>  
        <li>水2 ゲーム理論</li>  
        <li>水3 ソフトウェア工学</li>  
        <li>金1 教育情報システム</li>  
        <li>金2 物理学A</li>
        <li>金3 人工知能</li>
        <li>金4 ヒューマンコンピュータインタラクション</li>
        <li>金5 マルチメディア</li>
        
    </ul>     
</p>
%>

<p>※情報が間違っている場合もあります。各自ポータルを見て確認してください。</p>
<p>パスワードは忘れないようにしてください。再設定の手段はないです。</p>
<p>何か不具合などあれば気軽に玉田まで連絡お願いします。</p>